body
{
	background-color: #2F4F4F;
	color: lightgray;
	font-size: 28px;
	font-family: 'Pangolin', cursive;
	font-weight:700;
}

#pojemnik
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#plansza
{
	width:900px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
	font-size:48px;
	min-height:60px;
	/*text-transform:uppercase;napis duza litera*/
}

#szubienica
{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;
}

#alfabet
{
	float:left;
	width:450px;
	text-align:center;
	min-height:280px;
}

.litera
{
	width:30px;
	height:30px;
	text-align:center;
	padding:5px;
	margin:5px;
	border:3px solid gray;
	float:left;
	cursor: pointer;
	border-radius:15px/*zaokraglenie rameczek*/
}

.litera:hover/*po najechaniu na literke*/
{
	background-color:#FAEBD7;
	color:darkslategray;
	border:3px solid dodgerblue;
}

.reset
{
	color:green;
	cursor:pointer;
	font-size:49px;
	
}
.reset:hover
{
	color:white;
}